<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 95vh; width: 100%;">
    <div class="row align-items-center justify-content-center">
      <form class="form-inline" action="/urls" method="POST">
        <input type="text" class="form-control mb-2 mr-sm-2" id="original-url" name="originalURL"
          placeholder="Input URL here">
        <button type="submit" class="btn btn-primary mb-2">Shorten</button>
      </form>
    </div>
    {{#if shortenURL}}
    <div class="row align-items-center mt-3 justify-content-center">
      <p>Success! Please use this link:</p>
      <div class="w-100"></div>
      <a href="{{shortenURL}}" target="_black" data-toggle="tooltip" data-placement="bottom" id="shortenURL"
        title="Copy & Open in new tab" class="mr-1">{{ shortenURL }}</a>
      <button data-toggle="tooltip" data-placement="bottom" title="Copy"
        class="btn btn-secondary btn-sm rounded-circle ml-1 " style="margin-bottom: -20px; padding: 3px 7px!important;">
        <i class="fas fa-copy font-weight-light"></i>
      </button>
    </div>
    {{/if}}
  </div>



</div>